body {
    
    background-image: url("indie-tarot-website-background2.jpg");
    margin-left: 300px;
	background-repeat: no-repeat;
    background-attachment: fixed;
}
h1 {
	color: darkred;
	margin-left: -30px;
}

h2 {
    color: darkred;
    margin-left: -30px;
}
img {
    float: right;
    margin-right: 200px
}
img.pan {
    float: left;
    }
a {
    color: purple;
}

li {
    margin-left: 20px;
}
ol {
    margin-left: -50px;
}